# 1. Getting Data and preprocessing

In [61]:
import pandas as pd

df = pd.read_csv("imports-85.csv")
df.describe()

,symboling,wheel_base,length,width,height,curb_weight,engine_size,compression_ratio,city_mpg,highway_mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [62]:
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [63]:
import numpy as np

def delete_missing(df, col_names): # (df, ['arg1', ...., 'argn'])
    new_df_copy = df.copy()
    #mark with NaN value
    new_df_copy = new_df_copy[col_names].replace('?', np.NaN)
    #remowe rows and return
    return new_df_copy.dropna()



df_list_col = list(df.columns.values)
print(df_list_col)
#deleting missing
df = delete_missing(df,df_list_col)
df.describe()

['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration', 'num_of_doors', 'body_style', 'drive_wheels', 'engine_location', 'wheel_base', 'length', 'width', 'height', 'curb_weight', 'engine_type', 'num_of_cylinders', 'engine_size', 'fuel_system', 'bore', 'stroke', 'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg', 'highway_mpg', 'price']

,symboling,wheel_base,length,width,height,curb_weight,engine_size,compression_ratio,city_mpg,highway_mpg
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,0.735849,98.264151,172.413836,65.607547,53.899371,2461.138365,119.226415,10.161132,26.522013,32.081761
std,1.193086,5.167416,11.523177,1.947883,2.268761,481.941321,30.460791,3.889475,6.097142,6.459189
min,-2.000000,86.600000,141.100000,60.300000,49.400000,1488.000000,61.000000,7.000000,15.000000,18.000000
25%,0.000000,94.500000,165.650000,64.000000,52.250000,2065.500000,97.000000,8.700000,23.000000,28.000000
50%,1.000000,96.900000,172.400000,65.400000,54.100000,2340.000000,110.000000,9.000000,26.000000,32.000000
75%,2.000000,100.800000,177.800000,66.500000,55.500000,2809.500000,135.000000,9.400000,31.000000,37.000000
max,3.000000,115.600000,202.600000,71.700000,59.800000,4066.000000,258.000000,23.000000,49.000000,54.000000

In [64]:
def replace_cat(df, mapX): #categorical replacement
    return df.replace(mapX)

def oneHotEncode(df,colNames): #one hot encoding
    for col in colNames:
        if( df[col].dtype == np.dtype('object')):
            dummies = pd.get_dummies(df[col],prefix=col)
            df = pd.concat([df,dummies],axis=1)

            #drop the encoded column
            df.drop([col],axis = 1 , inplace=True)
    return df

In [65]:
df = replace_cat(df, {'fuel_type' : {'gas': 0, 'diesel': 1}, 'aspiration':{'std': 0, 'turbo': 1},
                     'num_of_doors': {'two': 0, 'four': 1}, 'body_style': {'hatchback': 0, 'sedan': 1, 'wagon': 2, 'convertible': 3, 'hardtop': 4}, 'drive_wheels': {'fwd': 0, 'rwd': 1, '4wd': 2}, 'engine_location': {'front': 0, 'rear': 1},
                      'num_of_cylinders': {'two': 0,'three': 1,'four': 2,'five': 3,'six': 4,'eight': 5,'twelve': 6}})

In [66]:
df = oneHotEncode(df, ['make','engine_type','fuel_system'])

In [67]:
df.head()

,symboling,normalized_losses,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type_l,engine_type_ohc,engine_type_ohcf,engine_type_ohcv,fuel_system_1bbl,fuel_system_2bbl,fuel_system_idi,fuel_system_mfi,fuel_system_mpfi,fuel_system_spdi
3,2,164,0,0,1,1,0,0,99.8,176.6,...,0,1,0,0,0,0,0,0,1,0
4,2,164,0,0,1,1,2,0,99.4,176.6,...,0,1,0,0,0,0,0,0,1,0
6,1,158,0,0,1,1,0,0,105.8,192.7,...,0,1,0,0,0,0,0,0,1,0
8,1,158,0,1,1,1,0,0,105.8,192.7,...,0,1,0,0,0,0,0,0,1,0
10,2,192,0,0,0,1,1,0,101.2,176.8,...,0,1,0,0,0,0,0,0,1,0

In [78]:
df_list_col = list(df.columns.values)
listNoY = df_list_col
listNoY.remove('price')


X = df[listNoY]
y = df[['price']]

In [79]:
from sklearn.model_selection import train_test_split

X1_train, X1_test, y1_train, y1_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [80]:
print('Training data 1 shape : ', X1_train.shape, y1_train.shape)
print('Testing data 1 shape : ', X1_test.shape, y1_test.shape)

Training data 1 shape :  (106, 51) (106, 1)
Testing data 1 shape :  (53, 51) (53, 1)

In [81]:
from keras import models
from keras import layers

model1f = models.Sequential()
model1f.add(layers.Dense(64, activation='relu',
                           input_shape=(X1_train.shape[1],)))
model1f.add(layers.Dense(64, activation='relu'))
model1f.add(layers.Dense(1))
model1f.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])

Using TensorFlow backend.

In [82]:
from sklearn.model_selection import GridSearchCV
from keras.wrappers.scikit_learn import KerasClassifier
import sklearn

def algorithm_pipeline(X_train_data, X_test_data, y_train_data, y_test_data, 
                       model, param_grid, cv=4, scoring_fit='neg_mean_absolute_error',
                       do_probabilities = False):
    gs = GridSearchCV(
        estimator=model,
        param_grid=param_grid, 
        cv=cv, 
        n_jobs=-1, 
        scoring=scoring_fit,
        verbose=2
    )
    fitted_model = gs.fit(X_train_data, y_train_data)
    
    if do_probabilities:
      pred = fitted_model.predict_proba(X_test_data)
    else:
      pred = fitted_model.predict(X_test_data)
    
    return fitted_model, pred

def build_nn1():
    model = models.Sequential()
    model.add(layers.Dense(64, activation='relu',
                           input_shape=(X1_train.shape[1],)))
    model.add(layers.Dense(64, activation='relu'))
    model.add(layers.Dense(1))
    model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
    
    return model

def build_nn2():
    model = models.Sequential()
    model.add(layers.Dense(64, activation='relu',
                           input_shape=(X1_train.shape[1],)))
    model.add(layers.Dense(64, activation='relu'))
    model.add(layers.Dense(1))
    model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
    
    return model

param_grid = {
              'epochs':np.arange(1,20,1),
              }

model1 = KerasClassifier(build_fn = build_nn1, verbose=0)
model1, pred1 = algorithm_pipeline(X1_train, X1_test, y1_train, y1_test, model1, 
                                        param_grid)

Fitting 4 folds for each of 19 candidates, totalling 76 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   30.7s
[Parallel(n_jobs=-1)]: Done  76 out of  76 | elapsed:  1.0min finished
/Users/marek/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [83]:
print("model 1:")
print(model1.best_score_)
print(model1.best_params_)

model 1:
-4327.622641509434
{'epochs': 9}

In [84]:
model1f.fit(X1_train,y1_train,epochs=1,validation_split= 0.2)

Train on 84 samples, validate on 22 samples
Epoch 1/1
84/84 [==============================] - 1s 9ms/step - loss: 177567449.9048 - mae: 11597.3564 - val_loss: 124220448.0000 - val_mae: 10210.8574

In [85]:
test_mse_score1, test_mae_score1 = model1f.evaluate(X1_test, y1_test)

53/53 [==============================] - 0s 94us/step

In [86]:
print("model 1 MAE: ")
print(test_mae_score1)

model 1 MAE:
10501.6767578125